.login-bg-cont {
  background-color: #152850;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-cont {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #e0eefe;
}
.website-img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 50%;
  background-color: #e0eefe;
}
.form-cont {
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 50%;
}
.form {
  display: flex;
  flex-direction: column;
}
.login-head {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 26px;
  color: black;
}
.label {
  font-family: 'Roboto';
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}
.input {
  height: 35px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #5a7184;
  outline: none;
  cursor: pointer;
}
.login-btn {
  margin-top: 10px;
  background-color: #1565d8;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.error-msg {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ff0b37;
  font-weight: bold;
}
